block viewContent
	#view.help
		.title
			h5 ヘルプ

		.sub-title
		.description.
			アイコンを選択すると、右側にコンテンツが表示されます。<br>
			アイコンは、絶滅が危惧されると評価されているものほど、赤色に近づいていきます。<br>
			また、絶滅が確認されたものには、スラッシュが記載されます。
		.sample-items.disabled
			.sample-item.level-0!= japanese_wolf_svg
			.sample-item.level-3!= japanese_wolf_svg
			.sample-item.level-7!= japanese_wolf_svg
			.sample-item.level-9!= japanese_wolf_svg
			.sample-item.dead!= japanese_wolf_svg

		.description.
			ここに挙げられているモノや技術、動物は、果たして未来には失われているのか、あるいは残っているのか。<br>
			ぜひ一度、考えてみてください。<br>
			このWebサイトでは、投票することが出来るようになっています。
		.buttons.disabled
			button.yes 絶滅しそう
			button.no 絶滅しなさそう
		.description.
			一体どれだけの人々が、絶滅を想像したのか。<br>
			その想像はこのWebサイトに記録され続け、未来の人々がそれに応えるのです。

		br
		.title
			h5 OepnData について
